[data-molecule-div=calculator] [data-atom-button]
  //margin: 1% !important
  margin: 0% !important
  padding: 0% !important

  padding-top: 1.1em !important
  padding-bottom: 1.1em !important

  width: 23% !important
  float: right !important

[data-molecule-div=calculator] > [data-atom-input]
  width: 75% !important

[data-molecule-div=calculator] > [data-atom-input]:nth-child(2)
  border-bottom: none !important
  height: 74px !important

[data-molecule-div=calculator] > [data-atom-input]:nth-child(4)
  font-size: 2.4em !important

[data-molecule-div=calculator] > [data-molecule-div] > [data-atom-button]
  width: 33% !important

[data-molecule-div=calculator] > [data-molecule-div] .accept
  width: 66% !important

[data-molecule-div=calculator] > [data-molecule-div]
  width: 75% !important

